/********************************/
/*           GENERAL BODY       */
/********************************/

html, body {
    padding: 0px;
    margin: 0px;
}
body {
    background-color:#0f001a
}
.banner {
    display: block;
    text-align: center;
    margin: auto;
}
.contact {
    text-align: center;
    margin-top: 60px;
    padding-bottom: 60px;
}
.map {
    display: inline-block;
    margin-left: 300px;
    margin-right: 100px;
}
.gallery {
  width: 640px;
  margin: 0 auto;
  padding-top: 50px;
  box-shadow: 0 1px 2px rgba(0,0,0,.3);
}
.gallery > .gimage {
  position: relative;
  float: left;
  padding: 5px;
}
.gallery > .gimage > img {
  display: block;
  width: 200px;
  transition: .1s transform;
  transform: translateZ(0); 
}
.gallery > .gimage:hover {
  z-index: 1;
}
.gallery > .gimage:hover > img {
  transform: scale(1.7,1.7);
  transition: .3s transform;
}
.cf:before, .cf:after {
  display: table;
  content: "";
  line-height: 0;
}
.cf:after {
  clear: both;
}
.image {
    overflow: hidden;
    transition-duration: 0.8s;
    transition-property: transform;
}
.image:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}
.titlepic {
    display: block;
    text-align: center;
    padding: 16px;
    margin: 0px;
    text-decoration: none;
    }
.details {
    display: inline-block;
    background-color: #ffc7b3;
    color: #000;
    width: 300px;
    height: 282px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border: 3px solid #ffffcc;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 0px;
    padding-bottom: 260px;
    margin-top: auto;
    margin-left: auto;
    margin-right: 80px;
    overflow: scroll;
}
.tutorials {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 40px;
}
.leftpanel {
   position: fixed;
   width: 200px;
   height: 950px;
   margin-top: -250px;
   margin-left: 0px; 
}
.rightpanel {
   position: fixed;
   width: 200px;
   height: 950px;
   margin-top: -250px;
   margin-left: 1705px;
}
.colorwhite {
    text-align: center;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #fff;
    margin: auto;
    padding-bottom: 100px;
}
.part1 {
    display: block;
    text-align: center;
    background-color: #ffc7b3;
    color: #000;
    width: 600px;
    height: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border: 3px solid #ffffcc;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 0px;
    padding-bottom: 260px;
    margin: auto;
    overflow: scroll;
}
.nailartpic {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
}
.revbanner {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.morerevleftpanel{
   position: fixed;
   width: 200px;
   height: 950px;
   margin-top: -200px;
   margin-left: 0px; 
}
.morerevrightpanel {
   position: fixed;
   width: 200px;
   height: 950px;
   margin-top: -200px;
   margin-left: 1705px;
}
.revleftpanel{
   position: fixed;
   width: 200px;
   height: 950px;
   margin-top: -200px;
   margin-left: 0px; 
}
.revrightpanel {
   position: fixed;
   width: 200px;
   height: 950px;
   margin-top: -200px;
   margin-left: 1705px;
}
.tutleftpanel {
   position: fixed;
   width: 200px;
   height: 950px;
   margin-top: -95px;
   margin-left: 0px; 
}
.tutrightpanel {
   position: fixed;
   width: 200px;
   height: 950px;
   margin-top: -95px;
   margin-left: 1705px;
}
.custrev {
    text-align: center;
    padding-top: 100px;
    padding-bottom: 40px;
}
.videos {
    text-align: center;
}
form {
    background-color: #ffc7b3;
    width: 200px;
    height: 50px;
    font-family: circular;
    font-size: 20px;
    color: #000;
    border: 3px solid #ffffcc;
    padding-left: 80px;
    padding-right: 150px;
    padding-top: 20px;
    padding-bottom: 120px;
    margin: auto;
}
#pricelist {
	background: #ffc7b3;
    border: 3px solid #ffffcc;
	border-collapse: collapse;
    width: 600px;
}
#pricelist caption {
	padding: 1em 0;
	text-align: left;
}
#pricelist thead {
	background: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
#pricelist tfoot {
	background: #fff;
	color: #000;
}
#pricelist th,
#pricelist td {
	padding:1em;
	text-align: left;
}
.manager {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
footer {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #fff;
    padding-top: 50px;
}
/********************************/
/*           NAVIGATION         */
/********************************/

nav, 
.navbar {
    text-align: center;
    padding-top: 0px;
    padding-bottom: 60px;
}

table.center {

    margin-left: auto;
    margin-right: auto;

}

@media screen and (min-width:0) and (max-width:320px) {

.banner img {
    width: 100%;

}
.leftpanel img, .rightpanel img {    
   display: none;
}

.titlepic img {
    width: 100%;
}

.table {
    width: 50%;
}

.part1 {
    width: 80%;
}

.gallery {
    width: 100%;
}

.center {
    width: 100%;
}
}
@media screen and (min-width:320px) and (max-width:480px) {

.banner img {
    width: 100%;
}

.leftpanel img, .rightpanel img {    
    display: none;
}

.titlepic img {
    width: 100%;
}

.table {
    width: 100%;
}

.part1 {
    width: 100%;
}

.gallery {
    width: 100%;
}

.center {
    width: 50%;
}
}
@media screen and (min-width:480px) and (max-width:600px) {

.banner img {
    width: 100%;
}

.leftpanel img, .rightpanel img {    
    display: none;
}

.titlepic img {
    width: 100%;
}

.table {
    width: 50%;
}

.part1 {
    width: 50%;
}

.gallery {
    width: 100%;
}

.center {
    width: 50%;
}
}

@media screen and (min-width:601px) and (max-width:800px) {

.banner img {
    width: 100%;

}
.leftpanel img, .rightpanel img {    
    display: none;
}

.titlepic img {
    width: 80%;
}

.table {
    width: 80%;
}

.part1 {
    width: 80%;
}

.gallery {
    width: 100%;
}

.center {
    width: 80%;
}
}

@media screen and (min-width:801px) and (max-width:1280px) {

.banner img {
    width: 100%;
}

.leftpanel img, .rightpanel img {    
    display: none;
}

.titlepic img {
    width: 100%;
}

.table {
    width: 100%;
}

.part1 {
    width: 100%;
}

.gallery {
    width: 100%;
}

.pricelist {
    width: 100%;
}
}


